.sticky {
	display: block;
}

.hentry {
	margin: 0 0 30px;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
	padding: 30px;
}

article {
	&.post,
	&.page {

		.card {
			margin-top: 0;
		}
	}
}

.page-header {
	background-color: $color__background-screen;
	padding: 30px !important;
	margin: 0 15px 30px;
}

.entry-title {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}


.card,
.comments-area,
.widget,
.page-header {
	background-color: $color__background-screen;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.07);
}

.card-header {
	padding: 20px 30px 10px;
	margin-bottom: 0;
	border-bottom: .75rem solid tomato;

	.entry-meta {
		color: #6c757d;
		text-align: right;
	}
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 30px;
    position: relative;
	border-top: .75rem solid tomato;
}

.card-footer {
    padding: 1.5rem 30px;
    background-color: rgba(209, 221, 230, 0.35);
    text-align: center;
    color: #6c757d;
}

.sticky .card {
	background-color: beige;

	&:before {
		content: "\f308";
		font-size: 7rem;
		font-family: "Genericons-Neue";
		position: absolute;
		color: rgba(255, 99, 71, 0.3);
		right: 10px;
		top: -10px;
	}
}

.grid-item {
	margin-top: 37.5px;

	&.page {
		margin-top: 0px;
	}

	&.has-post-thumbnail {
		margin-top: 0;
	}
}

.grid-item {

	.entry-meta {
		position: absolute;
		font-size: .9rem;
		left: calc(50% - (45px / 2));
		top: calc(0rem - (75px / 2) - (.75rem / 2));

		.hexagon {
		    position:relative;
		    display: flex;
		    margin:0 auto;
		    background:tomato;
		    border-radius:5px;
		    height:75px;
		    width:45px;
		    transition:all 1s;
		    color: white;
		    font-weight: bold;
		    text-align: center;

			span {
				z-index: 1;
				margin: auto;
			}
		}
		.hexagon:before, .hexagon:after {
			content:"";
			position:absolute;
			top:0;
			left:0;
			background:inherit;
			border-radius:inherit;
			height:100%;
			width:100%;
			top:0;
			left:0;
		}
		.hexagon:before {
			-webkit-transform:rotate(60deg);
			-moz-transform:rotate(60deg);
			transform:rotate(60deg);
			transition:all 1s 0.5s;
		}
		.hexagon:after {
			-webkit-transform:rotate(-60deg);
			-moz-transform:rotate(-60deg);
			transform:rotate(-60deg);
			transition:all 1s 1s;
		}
		.hexagon:hover span {
			text-decoration: underline;
		}
	}
}

.meta {
	margin: 0;
	text-align: center;
	padding-left: 0;
	list-style: none;

	li {
		display: inline;

		&:not(:last-child) {
			margin-right: 1rem;
		}
	}

	.genericons-neue {
		font-size: 1.4rem;
		margin-top: -3px;
		margin-right: 5px;
	}
}

.entry-meta {
	font-size: 1.2rem;
}

.avatar {
	margin-bottom: .25rem;
	font-weight: bold;
	display: inline-flex;

	img {
		margin-right: 10px;
		border-radius: 9999px;
	}
	.byline {
		line-height: 1.7;
	}
}

.site-content {
	top: -3rem;
	position: relative;

	.row {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.wp-post-image {
	width: 100%;
    display: block;
}

.grid-item {
	margin-bottom: 30px;
}

@media (min-width: 576px) {
	html {
		font-size: 15px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
    .entry-content {
		margin: 0 0 0 9rem;
	}
}

@media (min-width: 992px) {
    .entry-content {
		margin: 0;
	}
}

@media (min-width: 1200px) {
    .entry-content {
		margin: 0 0 0 9rem;
	}

}

@media (min-width: 1600px) {
	html {
		font-size: 17px;
	}

	.single,
	.page {
		.container-fluid {
			max-width: 1530px;
		}
	}
}

/*--------------------------------------------------------------
## 404 Page
--------------------------------------------------------------*/
.error404 {
	.header-image {
		display: none;
	}
	.site-content {
		top: 0;
		margin-top: 30px;
		position: inherit;
		text-align: center;

		.search-form {
			margin-bottom: 60px;
		}
	}
	.page-title {
		font-size: 10rem;
		font-family: "Srisakdi", sans-serif;
		margin-top: 30px;
		line-height: 1;
	}
}