body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

blockquote {
	margin: 1.5rem 1.5rem 1rem 0;
	font-size: 1.25rem;
	padding: 1.5rem;
	position: relative;
	display: inline-block;
}

blockquote:before {
	content: '\201C';
	position: absolute;
	top: 0em;
	left: 50%;
	transform: translate(-50%, -50%);
	background: tomato;
	width: 4rem;
	height: 4rem;
	border-radius: 99999px;
	font: 6em/1.08em 'PT Sans', sans-serif;
	color: white;
	text-align: center;
	}
blockquote:after {
	content: "\2014 \00A0" attr(cite);
	display: block;
	text-align: right;
	font-size: 0.875em;
	color: #e74c3c;
	display: block;
	font-size: 80%;
	color: #6c757d;
}

cite {
	margin-left: 1.5rem;
    color: #6c757d;
}

cite::before {
	content: "\2014 \00A0";
}