.widget {
	margin: 0 0 30px;
	padding: 1.25rem;
	background-color: $color__background-screen;
	border-radius: $border__radius-1;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	ul {
		list-style: none;
		padding-left: 1.5rem;
	}

	li {
		padding: .25rem 1rem;
	}
}

.widget-title {
	font-size: 1.5rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

.widget_calendar {
	table {
		text-align: center;
		margin-bottom: 0;
	}

	td {
		padding: .2rem .5rem; 

		a {
			font-weight: bold;
		}
	}

	tfoot {
		background-color: tomato;
		margin-top: 1rem;

		a {
			color: white;
		}

		td:hover {
			background-color: gray;
		}
	}
}