.main-navigation {
	clear: both;
	position: relative;
	display: block;
	width: 100%;
	background-color: #fff;
	text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    font-size: 16px;

    .menu-toggle {
    	border: 0;
    	border-radius: 0;
    	background: none;
		height: 52px;
		margin: auto;
    }

	.bar1, .bar2, .bar3 {
		width: 35px;
		height: 4px;
		background-color: black;
		margin: 7px 0;
		transition: 0.4s;
		border-radius: 2px;
	}

	/* Rotate first bar */
	&.toggled .bar1 {
		-webkit-transform: rotate(-135deg) translate(-8px, -8px);
		transform: rotate(-135deg) translate(-8px, -8px) ;
	}

	/* Fade out the second bar */
	&.toggled .bar2 {
		-webkit-transform: scale(0, 0);
		transform: scale(0, 0);
		opacity: 0;
	}

	/* Rotate last bar */
	&.toggled .bar3 {
		-webkit-transform: rotate(135deg) translate(-8px, 8px);
		transform: rotate(135deg) translate(-8px, 8px);
	}

	>div {
		display: flex;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			display: block;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				background-color: #fff;
				
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				height: inherit;
				width: 100%;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	&.toggled ul {
		width: 100%;
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
			background-color: gray;
			color: white;
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: .75rem 1.25rem;
		height: 52px;
		line-height: 1.9;
		color: #404040;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: white;
	}

	.current_page_item,
	.current-menu-item,
	.current-menu-parent {
		background-color: tomato;
	}

	.current-menu-parent {
		&:before {
			border: solid white !important;
		}
	}

	.menu-item-has-children {
		position: relative;

		&.current_page_item,
		&.current-menu-item {
			&:before {
				border: solid white;
			}
		}

		&:before {
			content: '';
			position: absolute;
			right: 15px;
			bottom: calc(50% - 5px);
			border: solid tomato;
			display: inline-block;
			padding: 3px;
			transform: rotate(135deg);
			-webkit-transform: rotate(135deg);
			transition: 0.2s;
		}

		&:hover::before,
		&.focus::before {
			-webkit-transform: rotate(45deg);
    		transform: rotate(45deg);
    		border: solid white;
    	}

		>a {
			padding-right: 3rem;
		}

		li {
			text-align: left;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
		word-wrap: break-word;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.search-box-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 2;
    top: 52px;

    &.hide {
	    display: none;
	}
}

.search-box {
    background-color: lightgray;
    padding: 12px;
    display: flex;
}

.search-toggle {
	background-color: tomato;
    cursor: pointer;
    height: 52px;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;

    .genericons-neue {
		padding: 14px;
		font-size: 1.5rem;
		color: white;
    }

    &.active {
    	background-color: lightgray;
    }
}

@media screen and (min-width: 768px) {
	.menu-toggle,
	.toggled .menu-toggle,
	.main-navigation .menu-toggle {
		display: none;
	}
	.main-navigation ul,
	.menu-toggle, .main-navigation.toggled ul {
		display: flex;
		margin: auto;
	}

	.main-navigation ul ul a {
		width: 200px;
	}

	.main-navigation.toggled ul {
		width: auto;
	}
}