.sticky {
	display: block;
}

.hentry {
	margin: 0 0 30px;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
	padding: 1.25rem;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

article {
	&.post,
	&.page {

		.card {
			margin-top: 0;
		}
	}
}

.page-header {
	background-color: $color__background-screen;
	padding: 1.25rem;
	border-radius: $border__radius-1;
	margin: 0 15px 30px;
}

.entry-title {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}